<?php 

$RSS_URL = 'https://feed.laravel-news.com/';
$RSS_IMAGE_URL = 'https://laravel-news.com/favicon-32x32.png';

$MATTERMOST_CHANNEL = 'news';
$MATTERMOST_USERNAME = 'Rss-Bot';
$MATTERMOST_WEBHOOK = 'https://mattermost.mysite.com/hooks/abc123';

